In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
import numpy as np

In [0]:
node_emb = pd.read_csv('/content/drive/My Drive/SNA_Edges/New4/embeddings.emb', sep=' ', header = None, skiprows=1)
node_emb = node_emb.rename(columns = {0:'director'})

For True Labels

In [0]:
#Test
edgesData_test = pd.read_csv('/content/drive/My Drive/SNA_Edges/Dependent Links/edgesdata_test_seen_dependent_links.txt', sep=',', header=None)
edgesData_test.columns = ["director", "movie_star"]

counted_links = edgesData_test.groupby(edgesData_test.columns.tolist()).size().reset_index().\
    rename(columns={0:'weight'})

counted_links = counted_links.sort_values(by="weight")
del counted_links['weight']

For False Labels

In [0]:
import ast

new_list = [line.rstrip('\n') for line in open("/content/drive/My Drive/SNA_Edges/Dependent Links/gen_graph_links2.txt")]
gen_graph_links = []

for element in new_list:
  gen_graph_links.append(ast.literal_eval(element))

len(gen_graph_links)

100000

In [0]:
counted_links = pd.DataFrame.from_records(gen_graph_links)

counted_links.columns = ["director", "movie_star"]

Contunie

In [0]:
counted_links = counted_links.merge(node_emb, on='director', how='left')

In [0]:
counted_links = counted_links[np.isfinite(counted_links[1])]

In [0]:
node_emb = pd.read_csv('/content/drive/My Drive/SNA_Edges/New4/embeddings.emb', sep=' ', header = None, skiprows=1)

node_emb = node_emb.rename(columns = {0:'movie_star'})

In [0]:
counted_links = counted_links.merge(node_emb, on='movie_star', how='left')

In [0]:
counted_links = counted_links[np.isfinite(counted_links["1_y"])]

In [0]:
counted_links['1'] = counted_links['1_x'] - counted_links['1_y']
counted_links['2'] = counted_links['2_x'] - counted_links['2_y']
counted_links['3'] = counted_links['3_x'] - counted_links['3_y']
counted_links['4'] = counted_links['4_x'] - counted_links['4_y']
counted_links['5'] = counted_links['5_x'] - counted_links['5_y']
counted_links['6'] = counted_links['6_x'] - counted_links['6_y']
counted_links['7'] = counted_links['7_x'] - counted_links['7_y']
counted_links['8'] = counted_links['8_x'] - counted_links['8_y']
counted_links['9'] = counted_links['9_x'] - counted_links['9_y']
counted_links['10'] = counted_links['10_x'] - counted_links['10_y']
counted_links['11'] = counted_links['11_x'] - counted_links['11_y']
counted_links['12'] = counted_links['12_x'] - counted_links['12_y']
#counted_links['13'] = counted_links['13_x'] - counted_links['13_y']
#counted_links['14'] = counted_links['14_x'] - counted_links['14_y']
#counted_links['15'] = counted_links['15_x'] - counted_links['15_y']
#counted_links['16'] = counted_links['16_x'] - counted_links['16_y']

del counted_links['1_x']
del counted_links['1_y']
del counted_links['2_x']
del counted_links['2_y']
del counted_links['3_x']
del counted_links['3_y']
del counted_links['4_x']
del counted_links['4_y']
del counted_links['5_x']
del counted_links['5_y']
del counted_links['6_x']
del counted_links['6_y']
del counted_links['7_x']
del counted_links['7_y']
del counted_links['8_x']
del counted_links['8_y']
del counted_links['9_x']
del counted_links['9_y']
del counted_links['10_x']
del counted_links['10_y']
del counted_links['11_x']
del counted_links['11_y']
del counted_links['12_x']
del counted_links['12_y']
#del counted_links['13_x']
#del counted_links['13_y']
#del counted_links['14_x']
#del counted_links['14_y']
#del counted_links['15_x']
#del counted_links['15_y']
#del counted_links['16_x']
#del counted_links['16_y']

counted_links

          director   movie_star         1  ...        10        11        12
2      c_nm0606487  d_nm3827269 -3.313521  ... -2.998122  0.557849  7.645658
4      c_nm3750794  d_nm6520564  2.620332  ... -8.186918  2.241665  6.778294
8      c_nm6908212  d_nm0852957  3.775211  ... -9.177292  1.306213 -0.699946
17     c_nm0893638  d_nm0954693 -5.157994  ...  1.358987  4.380969 -3.275413
20     c_nm2884917  d_nm1168930  0.026431  ... -2.793040  2.299076 -0.904024
...            ...          ...       ...  ...       ...       ...       ...
24668  c_nm0100381  d_nm3278010 -3.809528  ... -3.433509  1.092755  8.999351
24670  c_nm0052532  d_nm4963108  0.325062  ...  0.004426 -0.421088  1.488332
24673  c_nm8358489  d_nm1410503 -3.776839  ... -2.702387 -0.546490  1.110857
24674  c_nm5736544  d_nm1028535  0.909631  ... -1.114901  2.909873  3.629096
24677  c_nm2856442  d_nm4214486  5.622360  ... -3.570262  0.447495 -6.369122

[7313 rows x 14 columns]

In [0]:
counted_links.to_csv("test_ds_false.csv")

In [0]:
!cp "/content/train_ds_false.csv" "/content/drive/My Drive/SNA_Edges/Dependent Links/"

After Creation of Datasets

In [0]:
test_ds = pd.read_csv('/content/test_ds.csv')
del test_ds["Unnamed: 0"]
test_ds['Y'] = True

test_ds_false = pd.read_csv('/content/test_ds_false.csv')
del test_ds_false["Unnamed: 0"]
test_ds_false['Y'] = False

test = pd.concat([test_ds, test_ds_false])
           
train_ds = pd.read_csv('/content/train_ds.csv')
del train_ds["Unnamed: 0"]
train_ds['Y'] = True

train_ds_false = pd.read_csv('/content/train_ds_false.csv')
del train_ds_false["Unnamed: 0"]
train_ds_false['Y'] = False

train = pd.concat([train_ds, train_ds_false])

In [0]:
train.to_csv("train2.csv")
!cp "/content/train2.csv" "/content/drive/My Drive/SNA_Edges/Dependent Links/"

test.to_csv("test2.csv")
!cp "/content/test2.csv" "/content/drive/My Drive/SNA_Edges/Dependent Links/"